@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --min-game-size: 320px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Inter', sans-serif;
}
html {
    background-color: #0B2434;
}

button {
    all: unset;
    cursor: pointer;
}

.Game {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-box {
    width: var(--min-game-size);
    height: var(--min-game-size);
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 34px;
    position: relative;
}

.top-texts {
    text-align: center;
}

.dices {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    gap: 18px;
}

.dice {
    height: 36px;
    width: 36px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease .1s;
}

.dice:active {
    transform: scale(1.2);
}

.dice-held {
    background-color: #59E391;
}

.buttons {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.roll-button {
    background-color: #5035FF;
    min-width: 92px;
    min-height: 36px;
    text-align: center;
    color: #FFFFFF;

    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
}

.roll-button:active {
    box-shadow: inset 0px 3.2px 7.68px rgba(0, 0, 0, 0.5);
}

.game-stats-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.game-stats {
    background-color: white;
    width: calc(0.8 * var(--min-game-size));
    height: calc(0.8 * var(--min-game-size));
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-stats-title {
    text-align: center;
}

.game-stats .stats {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.status-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    background-color: #59E391;
    padding: 5px;
    font-weight: 700;
    z-index: 3;
}